.record-container {
  #jsRecordBtn {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
    video {
      background-color: $black;
      width: 100%;
    }
  }
}
